

<div class="content-body">
  <!-- coming soon flat design -->
  <section>
    <div class="row d-flex vh-100 align-items-center justify-content-center">
      <div class="col-xl-5 col-md-8 col-sm-10 col-12 px-md-0 px-2">
        <div class="card text-center w-100 mb-0">
          <div class="card-header justify-content-center pb-0">
            <div class="card-title">
              <h2 class="mb-0">Verification Account </h2>
            </div>
          </div>
          <div class="card-content">
            <div class="card-body pt-0">
              <img src="../../../assets/images/icons/verified_account_512px.png" class="img-responsive block width-150 mx-auto" width="150" alt="bg-img">
              <div  class="card-text text-center getting-started pt-2 d-flex justify-content-center flex-wrap">
                <mat-card-content *ngIf="token != 'reset'">
                  <div class="container-timer">
                    <ul>
                      <li><span>{{currentTime.day}}</span><br>DAYS</li>
                      <li><span>{{currentTime.hour}}</span><br>HOURS</li>
                      <li><span>{{currentTime.minute}}</span><br>MINUTES</li>
                      <li><span>{{currentTime.second}}</span><br>SECONDS</li>
                    </ul>
                  </div>
                </mat-card-content>
              </div>
              <div class="divider">
                <div class="divider-text">Subscribe</div>
              </div>
              <p class="text-left">
                If you would like to be Activated account when our app is live, Please Reactivate your Account to get our mailing Activation.
              </p>
              <form class="form-horizontal" name="form" (ngSubmit)="f.form.valid && ReactivationAccount()" #f="ngForm" novalidate>
                <fieldset class="form-label-group">
                  <input type="email" class="form-control"  [(ngModel)]="form.email"  name="email"  >
                  <label >Email</label>
                </fieldset>
                <button *ngIf="!currentTime.second || token == 'reset'" class="btn btn-primary w-100" type="submit" >Reactivate Account </button>
              </form>
              <button *ngIf="currentTime.second && token != 'reset'" class="btn btn-primary w-100" (click)="activationAccount()" >Activate Account </button>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ coming soon flat design -->
