
<div class="app-main" id="main">
  <!-- begin container-fluid -->
  <div class="container-fluid">
    <!-- begin row -->
    <h1> Search </h1>


    <form  (click)="SearchMultiple(key.value)">
      <div class="from-group row">
        <div class="col-6 col-sm-5">
          <input class="form-control ag-row-hover" style="width: 400px;height: 50px ;font-size:large"  type="search"  #key="ngModel" ngModel
                 name="key" placeholder="Search Courses">
        </div>
        <div class="col-5 col-sm-3">
          <button class="theme-btn-border w-full" style="width: 60px" type="submit"> Search </button>
        </div>
      </div>
    </form>

    <br>
    <!-- Split Button Dropdown Starts -->
    <section id="dropdown-with-split-btn">
      <!-- users filter start -->
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Filters</h4>
          <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
          <div class="heading-elements">
            <ul class="list-inline mb-0">
              <li><a data-action="collapse"><i class="feather icon-chevron-down"></i></a></li>
              <li><a data-action=""><i class="feather icon-rotate-cw users-data-filter"></i></a></li>
              <li><a data-action="close"><i class="feather icon-x"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="card-content collapse show">
          <div class="card-body">
            <div class="users-list-filter">
              <form>
                <div class="row">
                  <div class="col-12 col-sm-6 col-lg-3">
                    <label for="users-list-role">Role</label>
                    <fieldset class="form-group">
                      <select class="form-control" id="users-list-role">
                        <option value="">All</option>
                        <option value="user">User</option>
                        <option value="staff">Staff</option>
                      </select>
                    </fieldset>
                  </div>
                  <div class="col-12 col-sm-6 col-lg-3">
                    <label for="users-list-status">Status</label>
                    <fieldset class="form-group">
                      <select class="form-control" id="users-list-status">
                        <option value="">All</option>
                        <option value="Active">Active</option>
                        <option value="Blocked">Blocked</option>
                        <option value="deactivated">Deactivated</option>
                      </select>
                    </fieldset>
                  </div>
                  <div class="col-12 col-sm-6 col-lg-3">
                    <label for="users-list-verified">Verified</label>
                    <fieldset class="form-group">
                      <select class="form-control" id="users-list-verified">
                        <option value="">All</option>
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                      </select>
                    </fieldset>
                  </div>
                  <div class="col-12 col-sm-6 col-lg-3">
                    <label for="users-list-department">Department</label>
                    <fieldset class="form-group">
                      <select class="form-control" id="users-list-department">
                        <option value="">All</option>
                        <option value="Sales">Sales</option>
                        <option value="Devlopment">Devlopment</option>
                        <option value="Management">Management</option>
                      </select>
                    </fieldset>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- users filter end -->
    </section>
    <!-- Split Button Dropdown Ends -->


    <!-- /.card-header -->
    <div class="card-body">

      <div class="container"  >
        <table id="example1" class="table table-bordered table-striped">
          <thead>
          <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Name</th>
            <th>Country</th>
            <th>Role</th>
            <th>Status</th>
            <th>QrCode</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let l of listUsers | paginate : {
            itemsPerPage: 5,
            currentPage: page,
            totalItems: Items
          }  , let i=index">

            <td>{{l.lastName}}</td>
            <td>{{l.email}}</td>
            <td>{{l.firstName +" "+ l.lastName}}</td>
            <td>{{l.country}}</td>
            <td>{{l.type}}</td>
            <td>{{l.state}}</td>

            <td>
              <ngx-qrcode [elementType]="elementType"  [value]="l.toString()" [width]="50"  [errorCorrectionLevel]="correctionLevel" ></ngx-qrcode>
            </td>

          </tr>

          </tbody>
          <tfoot>
          <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Name</th>
            <th>Country</th>
            <th>Role</th>
            <th>Status</th>
            <th>QrCode</th>
          </tr>
          </tfoot>
        </table>

      </div>

            <pagination-controls
              previousLabel="Prev"
              nextLabel="Next"
              [responsive]="true"
              (pageChange)="handlePageChange($event)"
            ></pagination-controls>

    </div>
  </div>
</div>
