<!-- hero-area-start -->
<div class="hero-arera course-item-height" data-background="../../../assets/front/img/slider/course-slider.jpg">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="hero-course-1-text">
          <h2>How to teach web design to the new students</h2>
        </div>
        <div class="course-title-breadcrumb">
          <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="index.html">Home</a></li>
              <li class="breadcrumb-item"><span>How to teach web design to the new students</span></li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- hero-area-end -->

<div class="blog-area pt-120 pb-90">
  <div class="container">
    <div class="row">

      <div class="col-xl-8 col-lg-12">
        <div class="blog-main-wrapper mb-0">
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12">
              <div class="blog-wrapper position-relative blog-details-wrapper mb-30">
                <div class="blog-thumb ">
                  <img src="../../../assets/front/img/blog/blog-01.jpg" alt="blog-img">
                </div>
                <div class="blog-tag">
                  <i class="fal fa-folder-open"></i>
                  <a href="#">Development</a>
                </div>
                <div class="blog-content-wrapper">
                  <div class="blog-meta">
                    <div class="blog-date">
                      <i class="flaticon-calendar"></i>
                      <span>23 Jan 2020</span>
                    </div>
                    <div class="blog-user">
                      <i class="flaticon-avatar"></i>
                      <span>Eduman</span>
                    </div>
                  </div>
                  <div class="blog-content">
                    <p>When it comes to designing better links and sending better emails, Slava
                      Shestopalov has a few tips on how to improve
                      your website’s experience while accessibility in mind. There are so many websites
                      out there that have not considered the overall
                      usability of their visually impaired users.
                      The participants will get
                      general ideas of the land management
                      system of business. Everyone must work, but for many of us that job isn’t just a
                      paycheck, it’s an opportunity to express ourselves and make
                      something better. Entrepreneurs and go-getters often feel as if they carry the
                      weight of an entire organization on their
                      backs, and therefore could always use a little extra motivation.</p>
                    <blockquote>
                      <p>Tosser argy-bargy mush loo at public school Elizabeth up the duff buggered
                        chinwag on your bike mate don’t get
                        shirty with me super, Jeffrey bobby Richard cheesed off spend a penny a load
                        of old tosh blag horse.</p>
                      <p class="mb-0"><cite>Eduman</cite></p>
                    </blockquote>
                    <p>Cheeky bugger cracking goal starkers lemon squeezy lost the plot pardon me no
                      biggie the BBC burke gosh boot so I
                      said wellies, zonked a load of old tosh bodge barmy skive off he legged it morish
                      spend a penny my good sir wind up
                      hunky-dory. Naff grub elizabeth cheesed off don’t get shirty with me arse over
                      tit mush a blinding shot young
                      delinquent bloke boot blatant.</p>
                    <p><img src="assets/img/blog/blog-03.jpg" alt="img"></p>
                    <h4 class="mb-20">Typography is the powerful element you will ever need</h4>
                    <p>The participants will get
                      general ideas of the land management
                      system of business. Everyone must work, but for many of us that job isn’t just a
                      paycheck, it’s an opportunity to express ourselves and make
                      something better. Entrepreneurs and go-getters often feel as if they carry the
                      weight of an entire organization on their
                      backs, and therefore could always use a little extra motivation.</p>
                    <p>When it comes to designing better links and sending better emails, Slava
                      Shestopalov has a few tips on how to improve
                      your website’s experience while accessibility in mind. There are so many websites
                      out there that have not considered the overall
                      usability of their visually impaired users.</p>
                    <div class="blog__details__tag tagcloud"><span>Post Tags : </span>
                      <a href="#" rel="tag">Class</a>
                      <a href="#" rel="tag">Course</a>
                      <a href="#" rel="tag">Design</a>
                      <a href="#" rel="tag">Science</a>
                    </div>
                  </div>
                </div>
                <div class="latest-comments mb-50 mt-50">
                  <h3>3 Comments</h3>
                  <ul>
                    <li>
                      <div class="comments-box">
                        <div class="comments-info d-flex">
                          <div class="comments-avatar mr-20">
                            <img src="../../../assets/front/img/member/member-img-04.png" alt="">
                          </div>
                          <div class="avatar-name">
                            <h5>Eleanor Fant</h5>
                            <span class="post-meta"> July 14, 2022</span>
                          </div>
                        </div>
                        <div class="comments-text ml-65">
                          <p>So I said lurgy dropped a clanger Jeffrey bugger cuppa gosh David
                            blatant have it, standard A bit of
                            how's your father my lady absolutely.</p>
                          <div class="comments-replay">
                            <a href="#">Reply</a>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="children">
                      <div class="comments-box">
                        <div class="comments-info d-flex">
                          <div class="comments-avatar mr-20">
                            <img src="../../../assets/front/img/member/member-img-01.png" alt="">
                          </div>
                          <div class="avatar-name">
                            <h5>Dominic</h5>
                            <span class="post-meta">April 16, 2022 </span>
                          </div>
                        </div>
                        <div class="comments-text ml-65">
                          <p>David blatant have it, standard A bit of how's your father my lady
                            absolutely.</p>
                          <div class="comments-replay">
                            <a href="#">Reply</a>
                          </div>
                        </div>
                      </div>
                      <ul>
                        <li class="children-2">
                          <div class="comments-box">
                            <div class="comments-info d-flex">
                              <div class="comments-avatar mr-20">
                                <img src="../../../assets/front/img/member/member-img-02.png" alt="">
                              </div>
                              <div class="avatar-name">
                                <h5>Von Rails</h5>
                                <span class="post-meta">April 18, 2022 </span>
                              </div>
                            </div>
                            <div class="comments-text ml-65">
                              <p>He nicked it get stuffed mate spend a penny plastered.!</p>
                              <div class="comments-replay">
                                <a href="#">Reply</a>
                              </div>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </li>
                  </ul>
                  <ul>
                    <li>
                      <div class="comments-box">
                        <div class="comments-info d-flex">
                          <div class="comments-avatar mr-20">
                            <img src="../../../assets/front/img/member/member-img-04.png" alt="">
                          </div>
                          <div class="avatar-name">
                            <h5>Eleanor Fant</h5>
                            <span class="post-meta"> July 14, 2022</span>
                          </div>
                        </div>
                        <div class="comments-text ml-65">
                          <p>So I said lurgy dropped a clanger Jeffrey bugger cuppa gosh David
                            blatant have it, standard A bit of
                            how's your father my lady absolutely.</p>
                          <div class="comments-replay">
                            <a href="#">Reply</a>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="children">
                      <div class="comments-box">
                        <div class="comments-info d-flex">
                          <div class="comments-avatar mr-20">
                            <img src="../../../assets/front/img/member/member-img-01.png" alt="">
                          </div>
                          <div class="avatar-name">
                            <h5>Dominic</h5>
                            <span class="post-meta">April 16, 2022 </span>
                          </div>
                        </div>
                        <div class="comments-text ml-65">
                          <p>David blatant have it, standard A bit of how's your father my lady
                            absolutely.</p>
                          <div class="comments-replay">
                            <a href="#">Reply</a>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="blog__comment">
                  <h3>Leave a Comment</h3>
                  <form action="#">
                    <div class="row">
                      <div class="col-xxl-6 col-xl-6 col-lg-6">
                        <div class="blog__comment-input">
                          <input type="text" placeholder="Your Name">
                        </div>
                      </div>
                      <div class="col-xxl-6 col-xl-6 col-lg-6">
                        <div class="blog__comment-input">
                          <input type="email" placeholder="Your Email">
                        </div>
                      </div>
                      <div class="col-xxl-12">
                        <div class="blog__comment-input">
                          <input type="text" placeholder="Website">
                        </div>
                      </div>
                      <div class="col-xxl-12">
                        <div class="blog__comment-input">
                          <textarea placeholder="Enter your comment ..."></textarea>
                        </div>
                      </div>
                      <div class="col-xxl-12">
                        <div class="blog__comment-agree d-flex align-items-center mb-20">
                          <input class="e-check-input" type="checkbox" id="e-agree">
                          <label class="e-check-label" for="e-agree">Save my name, email, and website
                            in this browser for the next
                            time I comment.</label>
                        </div>
                      </div>
                      <div class="col-xxl-12">
                        <div class="blog__comment-btn">
                          <button type="submit" class="edu-btn">Post Comment</button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
      <div class="col-xl-4 col-lg-8 col-md-8">
        <div class="sidebar-widget-wrapper">
          <div class="sidebar__search p-relative mb-30">
            <form action="#">
              <input type="text" placeholder="Search for courses...">
              <button type="submit">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 584.4 584.4"
                     style="enable-background:new 0 0 584.4 584.4;" xml:space="preserve">
                                 <g>
                                    <g>
                                       <path class="st0"
                                             d="M565.7,474.9l-61.1-61.1c-3.8-3.8-8.8-5.9-13.9-5.9c-6.3,0-12.1,3-15.9,8.3c-16.3,22.4-36,42.1-58.4,58.4    c-4.8,3.5-7.8,8.8-8.3,14.5c-0.4,5.6,1.7,11.3,5.8,15.4l61.1,61.1c12.1,12.1,28.2,18.8,45.4,18.8c17.1,0,33.3-6.7,45.4-18.8    C590.7,540.6,590.7,499.9,565.7,474.9z">
                                       </path>
                                      <path class="st1"
                                            d="M254.6,509.1c140.4,0,254.5-114.2,254.5-254.5C509.1,114.2,394.9,0,254.6,0C114.2,0,0,114.2,0,254.5    C0,394.9,114.2,509.1,254.6,509.1z M254.6,76.4c98.2,0,178.1,79.9,178.1,178.1s-79.9,178.1-178.1,178.1S76.4,352.8,76.4,254.5    S156.3,76.4,254.6,76.4z">
                                       </path>
                                    </g>
                                 </g>
                              </svg>
              </button>
            </form>
          </div>
          <div class="sidebar__widget mb-30">
            <div class="sidebar__widget-head mb-35">
              <h4 class="sidebar__widget-title">Recent posts</h4>
            </div>
            <div class="sidebar__widget-content">
              <div class="rc__post-wrapper">
                <div class="rc__post d-flex align-items-center">
                  <div class="rc__thumb mr-20">
                    <a href="blog-details.html"><img src="../../../assets/front/img/course/course-10.jpg" alt=""></a>
                  </div>
                  <div class="rc__content">
                    <div class="rc__meta">
                      <span>October 15, 2021</span>
                    </div>
                    <h6 class="rc__title"><a href="blog-details.html">The Importance Intrinsic
                      Motivation.</a></h6>
                  </div>
                </div>
                <div class="rc__post d-flex align-items-center">
                  <div class="rc__thumb mr-20">
                    <a href="blog-details.html"><img src="../../../assets/front/img/course/course-11.jpg" alt=""></a>
                  </div>
                  <div class="rc__content">
                    <div class="rc__meta">
                      <span>March 26, 2021</span>
                    </div>
                    <h6 class="rc__title"><a href="blog-details.html">A Better Alternative To Grading
                      Student.</a></h6>
                  </div>
                </div>
                <div class="rc__post d-flex align-items-center">
                  <div class="rc__thumb mr-20">
                    <a href="blog-details.html"><img src="../../../assets/front/img/course/course-15.jpg" alt=""></a>
                  </div>
                  <div class="rc__content">
                    <div class="rc__meta">
                      <span>October 15, 2021</span>
                    </div>
                    <h6 class="rc__title"><a href="blog-details.html">Strategic Social Media &amp;
                      Evolution of Visual</a>
                    </h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="sidebar__widget mb-30">
            <div class="sidebar__widget-head mb-35">
              <h4 class="sidebar__widget-title">Category</h4>
            </div>
            <div class="sidebar__widget-content">
              <div class="sidebar__category">
                <ul>
                  <li><a href="blog.html">Data Science(2)</a></li>
                  <li><a href="blog.html">Video &amp; Tips (4)</a></li>
                  <li><a href="blog.html">Education (8)</a></li>
                  <li><a href="blog.html">Business (5)</a></li>
                  <li><a href="blog.html">UX Design (3)</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="sidebar__widget mb-30">
            <div class="sidebar__widget-head mb-35">
              <h4 class="sidebar__widget-title">Tags</h4>
            </div>
            <div class="sidebar__widget-content">
              <div class="sidebar__tag">
                <a href="#">Art &amp; Design</a>
                <a href="#">Course</a>
                <a href="#">Videos</a>
                <a href="#">App</a>
                <a href="#">Education</a>
                <a href="#">Data Science</a>
                <a href="#">Machine Learning</a>
                <a href="#">Tips</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
