<!-- breadcrumb area start -->
<div class="bd-page-title-area bd-page-title-bg pt-220 pb-155">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="bd-page-title text-center z-index">
          <h2 class="breadcrumb-title">Team</h2>
          <div class="breadcrumb-menu">
            <nav class="breadcrumb-trail breadcrumbs">
              <ul class="trail-items">
                <li class="trail-item trail-begin"><a href="index.html">Home</a></li>
                <li class="trail-item trail-middle"><i class="far fa-chevron-right"></i></li>
                <li class="trail-item trail-end"><span>Team</span></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- breadcrumb area end -->

<!-- team area start here -->
<section class="bd-team-area pb-120 pt-150">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="bd-portfolio bd-team-four mb-30">
          <img src="../../../assets/photo/11.jpg" alt="porfolio not found">
          <div class="bd-team-four-text">
            <h5 class="bd-team-four-title"><a href="portfolio-details.html">Rahma Tagorti</a></h5>
            <span>Web Developer</span>
            <div class="bd-team-four-social">
              <ul>
                <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-vimeo-v"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="bd-portfolio bd-team-four mb-30">
          <img src="../../../assets/photo/33.jpg" alt="porfolio not found">
          <div class="bd-team-four-text">
            <h5 class="bd-team-four-title"><a href="portfolio-details.html">Mahdi Arfaoui</a></h5>
            <span>Angular Developer</span>
            <div class="bd-team-four-social">
              <ul>
                <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-vimeo-v"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="bd-portfolio bd-team-four mb-30">
          <img src="../../../assets/photo/22.jpg" alt="porfolio not found">
          <div class="bd-team-four-text">
            <h5 class="bd-team-four-title"><a href="portfolio-details.html">Nesrine Azaiez</a></h5>
            <span>Symfony Developer</span>
            <div class="bd-team-four-social">
              <ul>
                <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-vimeo-v"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="bd-portfolio bd-team-four mb-30">
          <img src="../../../assets/photo/44.jpg" alt="porfolio not found">
          <div class="bd-team-four-text">
            <h5 class="bd-team-four-title"><a href="portfolio-details.html">Omar Drissi</a></h5>
            <span>Vue Developer</span>
            <div class="bd-team-four-social">
              <ul>
                <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-vimeo-v"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="bd-portfolio bd-team-four mb-30">
          <img src="../../../assets/photo/66.jpg" alt="porfolio not found">
          <div class="bd-team-four-text">
            <h5 class="bd-team-four-title"><a href="portfolio-details.html">Yosr Janenn</a></h5>
            <span>React Developer</span>
            <div class="bd-team-four-social">
              <ul>
                <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-vimeo-v"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="bd-portfolio bd-team-four mb-30">
          <img src="../../../assets/photo/55.jpg" alt="porfolio not found">
          <div class="bd-team-four-text">
            <h5 class="bd-team-four-title"><a href="portfolio-details.html">Farouk Hajjej</a></h5>
            <span>Bd Developer</span>
            <div class="bd-team-four-social">
              <ul>
                <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-vimeo-v"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- team area end here -->

<!-- talent area start here -->
<section class="bd-talented-area gray-bg pt-140 pb-150">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="bd-talented">
          <div class="bd-section-title-wrapper text-center">
            <h2 class="bd-section-title mb-45">We're always looking for talented people.</h2>
            <div class="bd-about-text-btn">
              <a href="about.html" class="theme-btn">Contact Us</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- talent area end here -->

