<div class="card">
  <div class="card-body">
    <div class="row mb-2">
      <div class="col-sm-4">
        <div class="search-box me-2 mb-2 d-inline-block">
          <div class="position-relative">

            <input  class="form-control" type="search"  #key="ngModel" ngModel
                   name="key" placeholder="Search Courses" (change)="SearchMultiple(key.value)">
            <i class="bx bx-search-alt search-icon"></i>
          </div>

        </div>
      </div>
      <div class="col-sm-8">
        <div class="text-sm-end">
          <button type="button" class="btn btn-success btn-rounded waves-effect waves-light mb-2 me-2"><i class="mdi mdi-plus me-1"></i> Add New Order</button>
        </div>
      </div><!-- end col-->
    </div>

    <div class="table-responsive">
      <table class="table align-middle table-nowrap table-check">
        <thead class="table-light">
        <tr>
          <th style="width: 20px;" class="align-middle">
            <div class="form-check font-size-16">
              <input class="form-check-input" type="checkbox" id="checkAll">
              <label class="form-check-label" for="checkAll"></label>
            </div>
          </th>

          <th class="align-middle">Titre</th>
          <th class="align-middle">Level</th>
          <th class="align-middle">Domain</th>
          <th class="align-middle">Costs</th>
          <th class="align-middle">Delete</th>
          <th class="align-middle">Update</th>
          <th class="align-middle">Add quiz</th>
          <th class="align-middle">Details</th>
          <th class="align-middle">QrCode</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let l of listFomation | paginate : {
            itemsPerPage: 6,
            currentPage: page,
            totalItems: Items
          }  , let i=index">
          <td>
            <div class="form-check font-size-16">
              <input class="form-check-input" type="checkbox" id="orderidcheck01">
              <label class="form-check-label" for="orderidcheck01"></label>
            </div>
          </td>
          <td>{{l.title}}</td>
          <td>{{l.level}}</td>
          <td>{{l.domain}}</td>
          <td>{{l.costs}} DT</td>
          <td>
            <div class="d-flex gap-3">

              <a href="javascript:void(0);" class="text-danger" (click)="deleteFormation(l.id)"><i class="mdi mdi-delete font-size-18"></i></a>
            </div>
          </td>
          <td>
            <button type="button" class="btn btn-primary btn-sm btn-rounded" data-bs-toggle="modal" data-bs-target=".orderdetailsModal">
              <i class="bx bx-code-block" (click)="dataId(l.id)"></i> Update
            </button>

          </td>
          <td>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary btn-sm btn-rounded" [routerLink]="['../Quiz',l.id]">
              <i class="bx bx-code"></i> Add Quiz
            </button>

          </td>
          <td>
            <button type="button" class="btn btn-primary btn-sm btn-rounded" [routerLink]="['../videoplaylist',l.id]">
              View Details
            </button>
          </td>
          <td>
            <ngx-qrcode [elementType]="elementType"  [value]="l.toString()" [width]="50"  [errorCorrectionLevel]="correctionLevel" ></ngx-qrcode>
          </td>
        </tr>

        </tbody>
      </table>
    </div>
    <ul class="pagination pagination-rounded justify-content-end mb-2">
      <pagination-controls
        previousLabel="Prev"
        nextLabel="Next"
        [responsive]="true"
        (pageChange)="handlePageChange($event)"
      ></pagination-controls>
    </ul>
  </div>
</div>
<!-- Transaction Modal -->
<div class="modal fade orderdetailsModal" tabindex="-1" role="dialog" aria-labelledby="orderdetailsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="orderdetailsModalLabel">Order Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="mb-2">Product id: <span class="text-primary">#SK2540</span></p>
        <p class="mb-4">Billing Name: <span class="text-primary">Neal Matthews</span></p>

        <div class="table-responsive">
          <table class="table align-middle table-nowrap">
            <thead>
            <tr>
              <th scope="col">Product</th>
              <th scope="col">Product Name</th>
              <th scope="col">Price</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <th scope="row">
                <div>
                  <img src="../../../assets/images/product/img-7.png" alt="" class="avatar-sm">
                </div>
              </th>
              <td>
                <div>
                  <h5 class="text-truncate font-size-14">Wireless Headphone (Black)</h5>
                  <p class="text-muted mb-0">$ 225 x 1</p>
                </div>
              </td>
              <td>$ 255</td>
            </tr>
            <tr>
              <th scope="row">
                <div>
                  <img src="../../../assets/images/product/img-4.png" alt="" class="avatar-sm">
                </div>
              </th>
              <td>
                <div>
                  <h5 class="text-truncate font-size-14">Phone patterned cases</h5>
                  <p class="text-muted mb-0">$ 145 x 1</p>
                </div>
              </td>
              <td>$ 145</td>
            </tr>
            <tr>
              <td colspan="2">
                <h6 class="m-0 text-right">Sub Total:</h6>
              </td>
              <td>
                $ 400
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <h6 class="m-0 text-right">Shipping:</h6>
              </td>
              <td>
                Free
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <h6 class="m-0 text-right">Total:</h6>
              </td>
              <td>
                $ 400
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- end modal -->
