.card {
  max-width: 1200px;
  margin: 0 auto;
  padding: 11px;
}

li {
  list-style-type: none;
  cursor: pointer;
  margin: 20px 0;
}

li .card:hover {
  border: 5px solid blue;
}

ol {
  padding: 0;
}
