<!-- hero-area-start -->
<div class="hero-arera course-item-height" data-background="../../../assets/front/img/slider/course-slider.jpg">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="hero-course-1-text">
          <h2>Course Details</h2>
        </div>
        <div class="course-title-breadcrumb">
          <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a [routerLink]="['/front/End/homeF']">Home</a></li>
              <li class="breadcrumb-item"><span>Courses</span></li>
              <li class="breadcrumb-item active" aria-current="page">MySQL Database : Beginner SQL
                Database Design</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- hero-area-end -->
<!-- course-details-area-start -->
<!--<section class="course-detalis-area pb-90">-->
  <div class="blog-area pt-120 pb-90">
  <div class="container">
    <div class="row">
      <div class="col-xl-8 col-lg-12">
        <div class="course-detalis-wrapper mb-30">
          <div class="blog-thumb ">
            <a href="blog-details.html"><img [src]="formation.image" alt="blog-img"></a>
          </div>
          <div class="course-heading mb-20">
            <br>
            <h2>{{formation.title.toUpperCase()}} : {{formation.skills}}</h2>
            <div >
              <ng-template #t let-fill="fill">
                  <span class="star" [class.full]="fill === 100">
                    <span class="half" [style.width.%]="fill">&star;</span>&star;
                  </span>
              </ng-template>

              <ngb-rating [(rate)]="rating" [starTemplate]="t"  [max]="5" (rateChange)="changeRating()"></ngb-rating>
              <pre>Rate: <b>{{rating.toString() | slice: 0 : 4  }} </b> ({{formation.courseApprenants.length}}) students</pre>
              <span>({{formation.ratings.length}} reviews)</span>
            </div>
          </div>
          <div class="course-detelis-meta">
            <div class="course-meta-wrapper border-line-meta">
              <div class="course-meta-img">
                <a href="instructor-profile.html"><img [src]="formation.userF.file"
                                                       alt="course-meta"></a>
              </div>
              <div class="course-meta-text">
                <span>Created by</span>
                <h6><a href="instructor-profile.html">{{formation.userF.lastName}}</a></h6>
              </div>
            </div>
            <div class="course-Enroll border-line-meta">
              <p>Total Enrolled</p>
              <span>{{formation.courseApprenants.length}}</span>
            </div>
            <div class="course-update border-line-meta">
              <p>Last Update</p>
              <span>01 January 2022 </span>
            </div>
            <div class="course-category">
              <p>01 January 2022 </p>
              <span><a href="course.html">{{formation.domain}}</a></span>
            </div>
          </div>
          <div class="course-description pt-45 pb-30">
            <div class="course-Description">
              <h4>Description</h4>
            </div>
            <p>{{formation.description}}</p>
          </div>
          <div class="course-learn-wrapper">
            <div class="course-learn">
              <div class="course-leranm-tittle">
                <h4 class="mb-15">What you'll learn</h4>
              </div>
              <div class="row">
                <div class="col-xl-6">
                  <div class="course-leran-text f-left">
                    <ul>
                      <li>{{formation.prerequisites}}</li>

                    </ul>
                  </div>
                </div>
                <div class="col-xl-6">
                  <div class="course-leran-text">
                    <ul>
                      <li>Reinforcement learning upper
                        confidence bound Thompson sampling</li>
                      <li>Model Selection & Boosting fold cross
                        validation parameter</li>
                      <li>Use Machine Learning for personal
                        purpose of machine</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="course-requirements pt-45">
            <h4>Requirements</h4>
            <div class="course-requirements-text">
              <ul>
                <li>• High School Mathematics Level</li>
                <li>• Basic Python Knowledge Required</li>
                <li>• Broadband Internet</li>
              </ul>
            </div>
          </div>
          <div class="course-curriculum pt-40 pb-50">
            <div class="course-curriculam">
              <h4>Curriculum</h4>
            </div>
            <ul>
              <li>5 Quiz • {{formation.nbrHours}} total length</li>
            </ul>
            <div class="course-curriculam-accodion mt-30">
              <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                  <div class="accordion-body" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true"
                            aria-controls="collapseOne">
                                                    <span class="accordion-header">
                                                        <span class="accordion-tittle">
                                                            <span>Welcome to the Course & Overview</span>
                                                        </span>
                                                        <span class="accordion-tittle-inner">
                                                            <span>8 lectures • 47m</span>
                                                        </span>
                                                    </span>
                    </button>
                  </div>
                  <div id="collapseOne" class="accordion-collapse collapse show"
                       aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <div
                        class="course-curriculum-content d-sm-flex justify-content-between align-items-center">
                        <div class="course-curriculum-info">
                          <i class="flaticon-youtube"></i>
                          <h4>Importing the libraries</h4>
                        </div>
                        <div class="course-curriculum-meta">
                          <span>5:30</span>
                          <span class="time"> <i class="flaticon-lock"></i></span>
                        </div>
                      </div>
                      <div
                        class="course-curriculum-content d-sm-flex justify-content-between align-items-center">
                        <div class="course-curriculum-info">
                          <i class="flaticon-youtube"></i>
                          <h4>Importing the libraries</h4>
                        </div>
                        <div class="course-curriculum-meta">
                          <span>7:30</span>
                          <span class="time"> <i class="flaticon-lock"></i></span>
                        </div>
                      </div>
                      <div
                        class="course-curriculum-content d-sm-flex justify-content-between align-items-center">
                        <div class="course-curriculum-info">
                          <i class="flaticon-youtube"></i>
                          <h4>Importing the libraries</h4>
                        </div>
                        <div class="course-curriculum-meta">
                          <span>3:30</span>
                          <span class="time"> <i class="flaticon-lock"></i></span>
                        </div>
                      </div>
                      <div
                        class="course-curriculum-content d-sm-flex justify-content-between align-items-center">
                        <div class="course-curriculum-info">
                          <i class="flaticon-youtube"></i>
                          <h4>Importing the libraries</h4>
                        </div>
                        <div class="course-curriculum-meta">
                          <span>8:30</span>
                          <span class="time"> <i class="flaticon-lock"></i></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <div class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button"
                            data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                            aria-expanded="true" aria-controls="collapseTwo">
                                                    <span class="accordion-header">
                                                        <span class="accordion-tittle">
                                                            <span>Python Application Engine</span>
                                                        </span>
                                                        <span class="accordion-tittle-inner">
                                                            <span>2 lectures • 12m</span>
                                                        </span>
                                                    </span>
                    </button>
                  </div>
                  <div id="collapseTwo" class="accordion-collapse collapse"
                       aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <div
                        class="course-curriculum-content d-sm-flex justify-content-between align-items-center">
                        <div class="course-curriculum-info">
                          <i class="flaticon-youtube"></i>
                          <h4>Data Manipulation Tools</h4>
                        </div>
                        <div class="course-curriculum-meta">
                          <span>6:30</span>
                          <span class="time"> <i class="flaticon-lock"></i></span>
                        </div>
                      </div>
                      <div
                        class="course-curriculum-content d-sm-flex justify-content-between align-items-center">
                        <div class="course-curriculum-info">
                          <i class="flaticon-youtube"></i>
                          <h4>Importing the libraries</h4>
                        </div>
                        <div class="course-curriculum-meta">
                          <span>8:30</span>
                          <span class="time"> <i class="flaticon-lock"></i></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button"
                            data-bs-toggle="collapse" data-bs-target="#collapseThree"
                            aria-expanded="true" aria-controls="collapseThree">
                                                    <span class="accordion-header">
                                                        <span class="accordion-tittle">
                                                            <span>Algorithm Comparison</span>
                                                        </span>
                                                        <span class="accordion-tittle-inner">
                                                            <span>3 lectures • 13m</span>
                                                        </span>
                                                    </span>
                    </button>
                  </h2>
                  <div id="collapseThree" class="accordion-collapse collapse"
                       aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <div
                        class="course-curriculum-content d-sm-flex justify-content-between align-items-center">
                        <div class="course-curriculum-info">
                          <i class="flaticon-youtube"></i>
                          <h4>Importing the libraries</h4>
                        </div>
                        <div class="course-curriculum-meta">
                          <span>3:30</span>
                          <span class="time"> <i class="flaticon-lock"></i></span>
                        </div>
                      </div>
                      <div
                        class="course-curriculum-content d-sm-flex justify-content-between align-items-center">
                        <div class="course-curriculum-info">
                          <i class="flaticon-youtube"></i>
                          <h4>Importing the libraries</h4>
                        </div>
                        <div class="course-curriculum-meta">
                          <span>5:30</span>
                          <span class="time"> <i class="flaticon-lock"></i></span>
                        </div>
                      </div>
                      <div
                        class="course-curriculum-content d-sm-flex justify-content-between align-items-center">
                        <div class="course-curriculum-info">
                          <i class="flaticon-youtube"></i>
                          <h4>Importing the libraries</h4>
                        </div>
                        <div class="course-curriculum-meta">
                          <span>7:30</span>
                          <span class="time"> <i class="flaticon-lock"></i></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingFour">
                    <button class="accordion-button collapsed" type="button"
                            data-bs-toggle="collapse" data-bs-target="#collapseFour"
                            aria-expanded="true" aria-controls="collapseFour">
                                                    <span class="accordion-header">
                                                        <span class="accordion-tittle">
                                                            <span>Data Manipulation Tools</span>
                                                        </span>
                                                        <span class="accordion-tittle-inner">
                                                            <span>7 lectures • 35m</span>
                                                        </span>
                                                    </span>
                    </button>
                  </h2>
                  <div id="collapseFour" class="accordion-collapse collapse"
                       aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <div
                        class="course-curriculum-content d-sm-flex justify-content-between align-items-center">
                        <div class="course-curriculum-info">
                          <i class="flaticon-youtube"></i>
                          <h4>Importing the libraries</h4>
                        </div>
                        <div class="course-curriculum-meta">
                          <span>2:30</span>
                          <span class="time"> <i class="flaticon-lock"></i></span>
                        </div>
                      </div>
                      <div
                        class="course-curriculum-content d-sm-flex justify-content-between align-items-center">
                        <div class="course-curriculum-info">
                          <i class="flaticon-youtube"></i>
                          <h4>Importing the libraries</h4>
                        </div>
                        <div class="course-curriculum-meta">
                          <span>4:30</span>
                          <span class="time"> <i class="flaticon-lock"></i></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <div class="accordion-header" id="headingFive">
                    <button class="accordion-button collapsed" type="button"
                            data-bs-toggle="collapse" data-bs-target="#collapseFive"
                            aria-expanded="true" aria-controls="collapseFive">
                                                    <span class="accordion-header">
                                                        <span class="accordion-tittle">
                                                            <span>Sorting- the Bubble Sort Algorithm</span>
                                                        </span>
                                                        <span class="accordion-tittle-inner">
                                                            <span>10 lectures • 55m</span>
                                                        </span>
                                                    </span>
                    </button>
                  </div>
                  <div id="collapseFive" class="accordion-collapse collapse"
                       aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <div
                        class="course-curriculum-content d-sm-flex justify-content-between align-items-center">
                        <div class="course-curriculum-info">
                          <i class="flaticon-youtube"></i>
                          <h4>Importing the libraries</h4>
                        </div>
                        <div class="course-curriculum-meta">
                          <span>6:30</span>
                          <span class="time"> <i class="flaticon-lock"></i></span>
                        </div>
                      </div>
                      <div
                        class="course-curriculum-content d-sm-flex justify-content-between align-items-center">
                        <div class="course-curriculum-info">
                          <i class="flaticon-youtube"></i>
                          <h4>Importing the libraries</h4>
                        </div>
                        <div class="course-curriculum-meta">
                          <span>8:30</span>
                          <span class="time"> <i class="flaticon-lock"></i></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="course-instructors">
            <h3>instructors</h3>
            <div class="instructors-heading">
              <div class="instructors-img w-img">
                <a href="instructor-profile.html"><img
                  [src]="formation.userF.file"
                  alt="image not found"></a>
              </div>
              <div class="instructors-body">
                <h5><a href="instructor-profile.html">{{formation.userF.lastName }} {{formation.userF.firstName}}</a></h5>
                <span>{{formation.userF.profession}}, Udacity Academy Team Ltd.</span>
                <div class="intructors-review">
                  <i class="fas fa-star"></i>
                  <span>4.7 (54 reviews)</span>
                </div>
                <div class="instructors-footer">
                  <i class="fas fa-desktop"></i>
                  <span>3 Coursess</span>
                  <i class="far fa-user-friends"></i>
                  <span>78,742 Students</span>
                </div>
              </div>
            </div>
            <div class="intructors-content">
              <p>Professionally, I come from the Data Science consulting space with experience in
                finance, retail, transport and other industries. I was trained by the best
                analytics mentors at Deloitte Australia and since starting on Udemy I have
                passed on my knowledge to spread around the world</p>
            </div>
          </div>
          <div class="student-feedback pt-45 ">
            <h3>Student Feedback</h3>
            <div class="row">
              <div class="col-xl-3">
                <div class="reating-point mb-30">
                  <div class="rating-point-wrapper text-center">
                    <h2>{{rating}}</h2>
                    <div class="rating-star">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                    <span>{{formation.ratings.length}}</span>
                  </div>
                </div>
              </div>
              <div class="col-xl-9">
                <div class="student-reating-bar">
                  <div class="reating-bar-wrapper">
                    <div class="rating-row mb-10">
                      <div class="rating-star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                      </div>
                      <div class="progress">
                        <div class="progress-bar wow fadeInLeft" role="progressbar"
                             style="width: 98%;" aria-valuenow="25" aria-valuemin="0"
                             aria-valuemax="100" data-wow-duration="1s"
                             data-wow-delay="0.5s"></div>
                      </div>
                      <div class="progress-tittle">
                        <span>98%</span>
                      </div>
                    </div>
                    <div class="rating-row mb-10">
                      <div class="rating-star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fal fa-star"></i>
                      </div>
                      <div class="progress">
                        <div class="progress-bar wow fadeInLeft" role="progressbar"
                             style="width: 78%;" aria-valuenow="25" aria-valuemin="0"
                             aria-valuemax="100" data-wow-duration="1s"
                             data-wow-delay="0.5s"></div>
                      </div>
                      <div class="progress-tittle">
                        <span>78%</span>
                      </div>
                    </div>
                    <div class="rating-row mb-10">
                      <div class="rating-star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fal fa-star"></i>
                        <i class="fal fa-star"></i>
                      </div>
                      <div class="progress">
                        <div class="progress-bar wow fadeInLeft" role="progressbar"
                             style="width: 55%;" aria-valuenow="25" aria-valuemin="0"
                             aria-valuemax="100" data-wow-duration="1s"
                             data-wow-delay="0.5s"></div>
                      </div>
                      <div class="progress-tittle">
                        <span>55%</span>
                      </div>
                    </div>
                    <div class="rating-row mb-10">
                      <div class="rating-star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fal fa-star"></i>
                        <i class="fal fa-star"></i>
                        <i class="fal fa-star"></i>
                      </div>
                      <div class="progress">
                        <div class="progress-bar wow fadeInLeft" role="progressbar"
                             style="width: 60%;" aria-valuenow="25" aria-valuemin="0"
                             aria-valuemax="100" data-wow-duration="1s"
                             data-wow-delay="0.5s"></div>
                      </div>
                      <div class="progress-tittle">
                        <span>60%</span>
                      </div>
                    </div>
                    <div class="rating-row mb-10">
                      <div class="rating-star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fal fa-star"></i>
                        <i class="fal fa-star"></i>
                        <i class="fal fa-star"></i>
                      </div>
                      <div class="progress">
                        <div class="progress-bar wow fadeInLeft" role="progressbar"
                             style="width: 10%;" aria-valuenow="25" aria-valuemin="0"
                             aria-valuemax="100" data-wow-duration="1s"
                             data-wow-delay="0.5s"></div>
                      </div>
                      <div class="progress-tittle">
                        <span>10%</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="course-detalis-reviews pt-15">
            <div class="course-detalis-reviews-tittle">
              <h3>Reviews </h3>
              <h3>{{formation.comments.length}} Comments</h3>
            </div>
            <div class="course-review-item mb-30" *ngFor="let post of formation.comments" >
              <div class="course-reviews-img">
                <a href="#"><img [src]="post.user.file"  class="img-lg"
                                 alt="image not found"></a>
              </div>
              <div class="course-review-list">
                <h5><a href="#">{{post.user.lastName.toUpperCase()}}</a></h5>

                <div  style="float: right ;margin-left: 2.5em">
                  <button class="like" (click)="LikesComment(post.id)">
                    <i class="fa fas fa-grin-hearts" aria-hidden="true"> </i>
                  </button>
                  <label style="color: #19001b ;font-size: 15px"> {{ post.likes.length }}</label>
                  &nbsp;
                  <button class="dislike" (click)="DisLikesComment(post.id)">
                    <i class="fa fa-angry" aria-hidden="true"></i>
                  </button>
                  <label style="color: #19001b ;font-size: 15px" > {{ post.dislikes.length}}</label>
                </div>
                <a >{{post.createdAt | date | slice:0 : 12 }}</a>
                <br>
                <br>
                <p style="font-size: 25px">{{post.message}}</p>
              </div>
            </div>


          </div>
          <div class="col-xl-12">
            <div class="course-review-btn">

              <div  class="review-comment mt-45">


                <div class="comment-input-box mb-15">

                    <div class="row">
                      <div class="col-xxl-12">
                                                        <textarea   placeholder="Message ..."  [(ngModel)]="post.message"
                                                                  class="comment-input comment-textarea mb-20"></textarea>
                      </div>

                      <div class="col-xxl-12">
                        <div class="comment-submit">
                          <button type="submit" class="edu-btn" (click)="sendComments()">Submit</button>
                        </div>
                      </div>
                    </div>

                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="col-xl-4 col-lg-8 col-md-8">
        <div class="sidebar-widget-wrapper">
          <div class="sidebar__search p-relative mb-30">
            <form action="#">
              <input type="text" placeholder="Search for courses...">
              <button type="submit">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 584.4 584.4"
                     style="enable-background:new 0 0 584.4 584.4;" xml:space="preserve">
                                 <g>
                                    <g>
                                       <path class="st0"
                                             d="M565.7,474.9l-61.1-61.1c-3.8-3.8-8.8-5.9-13.9-5.9c-6.3,0-12.1,3-15.9,8.3c-16.3,22.4-36,42.1-58.4,58.4    c-4.8,3.5-7.8,8.8-8.3,14.5c-0.4,5.6,1.7,11.3,5.8,15.4l61.1,61.1c12.1,12.1,28.2,18.8,45.4,18.8c17.1,0,33.3-6.7,45.4-18.8    C590.7,540.6,590.7,499.9,565.7,474.9z">
                                       </path>
                                      <path class="st1"
                                            d="M254.6,509.1c140.4,0,254.5-114.2,254.5-254.5C509.1,114.2,394.9,0,254.6,0C114.2,0,0,114.2,0,254.5    C0,394.9,114.2,509.1,254.6,509.1z M254.6,76.4c98.2,0,178.1,79.9,178.1,178.1s-79.9,178.1-178.1,178.1S76.4,352.8,76.4,254.5    S156.3,76.4,254.6,76.4z">
                                       </path>
                                    </g>
                                 </g>
                              </svg>
              </button>
            </form>
          </div>
          <div class="sidebar__widget mb-30">
            <div class="course-video-thumb w-img">
              <img [src]="formation.image" alt="image not found">
              <div class="sidber-video-btn">
                <a class="popup-video" href="https://www.youtube.com/watch?v=F68sQYaS9XA"><i
                  class="fas fa-play"></i></a>
              </div>
            </div>
            <div class="course-video-price">
              <span>${{formation.costs}}</span>
            </div>
            <div class="course-video-body">
              <ul>
                <li>
                  <div class="course-vide-icon">
                    <i class="flaticon-filter"></i>
                    <span>Level</span>
                  </div>
                  <div class="video-corse-info">
                    <span>{{formation.level}}</span>
                  </div>
                </li>
                <li>
                  <div class="course-vide-icon">
                    <i class="flaticon-computer"></i>
                    <span>Lectures</span>
                  </div>
                  <div class="video-corse-info">
                    <span>{{retrieveVideo.length}} Lectures</span>
                  </div>
                </li>
                <li>
                  <div class="course-vide-icon">
                    <i class="flaticon-clock"></i>
                    <span>Duration</span>
                  </div>
                  <div class="video-corse-info">
                    <span>{{formation.nbrHours}} h</span>
                  </div>
                </li>
                <li>
                  <div class="course-vide-icon">
                    <i class="flaticon-menu-2"></i>
                    <span>Category</span>
                  </div>
                  <div class="video-corse-info">
                    <span>{{formation.domain}}</span>
                  </div>
                </li>
                <li>
                  <div class="course-vide-icon">
                    <i class="flaticon-global"></i>
                    <span>Laguage</span>
                  </div>
                  <div class="video-corse-info">
                    <span>English</span>
                  </div>
                </li>
                <li>
                  <div class="course-vide-icon">
                    <i class="flaticon-bookmark-white"></i>
                    <span>Access</span>
                  </div>
                  <div class="video-corse-info">
                    <span>Full Lifetime</span>
                  </div>
                </li>
                <li>
                  <div class="course-vide-icon">
                    <i class="flaticon-award"></i>
                    <span>Certificate</span>
                  </div>
                  <div class="video-corse-info">
                    <span>Yes </span>
                  </div>
                </li>
                <li>
                  <div class="course-vide-icon">
                    <i class="flaticon-list"></i>
                    <span>Recourse</span>
                  </div>
                  <div class="video-corse-info">
                    <span>{{retrieveFiles.length}} Downloadable Files </span>
                  </div>
                </li>
              </ul>
            </div>
            <div class="video-wishlist">
              <a *ngIf="!show && currentUser" (click)="assingAppToCourses()" class="video-cart-btn"><i class="fal fa-shopping-cart"></i>Add
                to
                cart</a>
              <a (click)="addtocart(formation)" class="video-wishlist-btn"><i class="far fa-heart"></i>Add
                to
                Wishlist</a>
            </div>
            <div class="course-gift">
              <div class="course-apply-coupon">
                <a href="#">Apply Coupon</a>
              </div>
              <div class="course-gift-coupon">
                <a href="#">Gift Courses</a>
              </div>
            </div>
          </div>

          <div class="sidebar__widget mb-30">
            <div class="sidebar__widget-head mb-35">
              <h4 class="sidebar__widget-title">Weather</h4>
            </div>
            <div class="sidebar__widget-content">

              <div class="sidebar__widget__cat mb-20">
                <div class="card overlay-img-card text-light">
                  <img src="../../../assets/images/companies/card-image-6.jpg"  alt="card-img-6">
                  <div class="card-img-overlay overlay-ligth">
                    <h5 class="font-medium-5 text-light text-center mt-4">{{desc}}</h5>
                    <p class="text-light text-center">{{lieu}}</p>
                    <div class="card-content">
                      <div class="d-flex justify-content-around mt-2">
                        <div class="icon">
                          <img src="http://openweathermap.org/img/wn/{{img}}.png" alt="">
                        </div>
                        <div class="temprature mt-3">
                          <p class="font-large-3 text-light" style="font-size: 25px" > {{temp}}  <span class="mt-2">&#176;</span></p>
                        </div>
                      </div>
                      <div class="card-body">
                        <div class="d-flex justify-content-between mt-4">
                          <div class="precipitation">
                            <span class="font-medium-3">Precipitation</span>
                          </div>
                          <div class="degree">
                            <span class="font-medium-3">{{drizzle}}</span>
                          </div>
                        </div>
                        <div class="d-flex justify-content-between my-2">
                          <div class="humidity">
                            <span class="font-medium-3">Humidity</span>
                          </div>
                          <div class="degree">
                            <span class="font-medium-3">{{humidite}} %</span>
                          </div>
                        </div>
                        <div class="d-flex justify-content-between my-2">
                          <div class="wind">
                            <span class="font-medium-3">Wind</span>
                          </div>
                          <div class="degree">
                            <span class="font-medium-3">{{wind}}  km/h</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="sidebar__widget mb-30">
            <div class="sidebar__widget-head mb-35">
              <h4 class="sidebar__widget-title">Tags</h4>
            </div>
            <div class="sidebar__widget-content">
              <div class="sidebar__tag">
                <a href="#">Art &amp; Design</a>
                <a href="#">Course</a>
                <a href="#">Videos</a>
                <a href="#">App</a>
                <a href="#">Education</a>
                <a href="#">Data Science</a>
                <a href="#">Machine Learning</a>
                <a href="#">Tips</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
<!--</section>-->
