<div class="col-md-12">
  <div class="card card-container">
    <img id="profile-img" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" class="profile-img-card" />
    <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div class="form-group">
        <label >First Name <input type="text" class="form-control" name="firstName" [(ngModel)]="form.firstName" required minlength="3"
                                                             maxlength="20" #firstName="ngModel" />
        </label>
      </div>

      <div class="form-group">
        <label >Last Name <input type="text" class="form-control" name="lastName" [(ngModel)]="form.lastName" required minlength="3"
                                                           maxlength="20" #lastName="ngModel" />
        </label>
      </div>

      <div class="form-group">
        <label >Email <input type="email" class="form-control" name="email" [(ngModel)]="form.email" required email #email="ngModel" />
        </label>
      </div>


      <div class="form-group">
        <label >age <input type="number" class="form-control" name="age" [(ngModel)]="form.age" required minlength="3"
                                                           maxlength="20" #age="ngModel" />
        </label>
      </div>



      <div class="form-group">
        <label >phoneNumber <input type="text" class="form-control" name="phoneNumber" [(ngModel)]="form.phoneNumber" required minlength="3"
                                                           maxlength="20" #phoneNumber="ngModel" />
        </label>
      </div>



      <div class="form-group">
        <label >Password <input type="password" class="form-control" name="password" [(ngModel)]="form.password" required minlength="6"
                                                      #password="ngModel" />
        </label>
      </div>


      <div class="form-group col-md-4">
        <label  >Add Image </label>
        <input  type="file" name="file"  (change)="selectImage($event)" multiple>
        <img [src]="imgURL" height="100" width="150"  *ngIf="imgURL" >


      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block">Sign Up</button>
      </div>
      <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
        Signup failed!<br />{{ errorMessage }}
      </div>
    </form>
    <div class="alert alert-success" *ngIf="isSuccessful">Your registration is successful!

    </div>




  </div>
</div>
