<div class="topnav">
  <div class="container-fluid">
    <nav class="navbar navbar-light navbar-expand-lg topnav-menu">

      <div class="collapse navbar-collapse" id="topnav-menu-content">
        <ul class="navbar-nav">

          <li class="nav-item dropdown" *ngIf="currentUser.type == 'ADMIN'" >
            <a class="nav-link dropdown-toggle arrow-none" [routerLink]="['/home/Formation-management/addFormation']" role="button"
            >
              <i class="bx bx-home-circle me-2"></i><span key="t-dashboards">Courses Space</span> <div class="arrow-down"></div>
            </a>
            <div class="dropdown-menu" aria-labelledby="topnav-dashboard">

              <a  [routerLink]="['/home/Formation-management/addFormation']" class="dropdown-item" key="t-default">Courses</a>
              <a [routerLink]="['/home/Formation-management/Courses']" class="dropdown-item" key="t-saas">Former List</a>
              <a [routerLink]="['/home/Formation-management/calendar']"class="dropdown-item" key="t-crypto">Calendar</a>

            </div>
          </li>
          <li class="nav-item dropdown" *ngIf="currentUser.type == 'FORMER'">
            <a class="nav-link dropdown-toggle arrow-none" [routerLink]="['/home/Formation-management/calendarCourses/'+currentUser.id]"  role="button"
            >
              <i class="bx bx-home-circle me-2"></i><span key="t-dashboards">Courses Space</span> <div class="arrow-down"></div>
            </a>
            <div class="dropdown-menu" aria-labelledby="topnav-dashboard">

              <a [routerLink]="['/home/Formation-management/calendarCourses/'+currentUser.id]" class="dropdown-item" key="t-default">Courses</a>

              <a [routerLink]="['/home/Formation-management/calendarCourses/'+currentUser.id]" class="dropdown-item" key="t-crypto">Calendar</a>

            </div>
          </li>
          <li class="nav-item dropdown" *ngIf="currentUser.type == 'ADMIN'">
            <a class="nav-link dropdown-toggle arrow-none" [routerLink]="['/home/Formation-management/listUsers']" role="button"
            >
              <i class="bx bx-home-circle me-2"></i><span key="t-dashboards">User Space</span> <div class="arrow-down"></div>
            </a>
            <div class="dropdown-menu" aria-labelledby="topnav-dashboard">

              <a [routerLink]="['/home/Formation-management/listUsers']" class="dropdown-item" key="t-default">List</a>
              <a href="#" class="dropdown-item" key="t-saas">View</a>
              <a href="#" class="dropdown-item" key="t-crypto">Calendar</a>

            </div>
          </li>







        </ul>
      </div>
    </nav>
  </div>
</div>
